<%= render partial: "shared/second_header"%>

<div class="tweet-contents">
 <div class="tweet-header ">
  <div class="tweet-main">
    <div class=tweet-text>編集する</div>
  <%= render partial: "shared/form"%>
<%= render partial: "shared/footer"%>

