<%= render partial: "shared/second_header"%>

<div class="tweet-contents">
 <div class="tweet-header">
  <div class="tweet-main">
    <div class=tweet-text>投稿</div>
    
    <%= render partial: "shared/form"%>
    </div>
 </div>
</div>
<%= render partial: "shared/footer"%>
 
