.tweet-tweet{
  border: 10px dotted #f5f5f5;
  width: 75%;
  margin-bottom: 10px;
  border-radius: 30px;
  text-align: center;
  /* display: inline-block; */
  margin: auto;
}

.tweet-text{
  font-weight:bold;
}

.tweet-tweet time{
  color: grey;
  font-size: 15px;
}

.tweet-img-content {
  height: 50%;
  padding-top: 40px;
}

.more_list {
  width: 27%;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin: auto;
  text-decoration: none;
}

.more {
  width:40%;
  justify-content:center;
  margin: auto;
}

.name-list{
  text-decoration: none;
  color: black;
}

.name-list:hover{
  color:grey;
}

.menu-list{
  text-decoration: none;
  color: black;
}

.menu-list:hover{
  color: grey;
}

.menu-lists{
  text-decoration: none;
  padding-right: 10px;
  color: black;
}

.menu-lists:hover{
  color: grey;
}