header {
  height: 120px;
  background-color: #f5f5f5;
  display: flex;
}

.heading {
  width: 50%;
  margin: auto 0;
}

.title{
  font-size: 40px;
  padding-left: 40px;
}

.title a {
  color:black;
}

.user-nav{
  width: 50%;
}

.user_nav_lists{
  display: flex;
  float: right;
  margin-top: 43px;
}

.post {
  font-size: 23px;
  background:white;
  color: black;
  border-radius: 60px;
  margin-right: 30px;
}

.greeting {
  float: right;
  font-size: 18px;
}

.greeting__link {
color: black;
}