header {
  height: 80px;
  background-color: #f5f5f5;
  display: flex;
}

.heading {
 width: 50%;
}


.title{
  font-size: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-left: 30px;
}

.title a {
  color:black;
  text-decoration: none;
}

.title a:hover {
color: gray;
}

.user-nav{
  width: 50%;
  font-family: 'Times New Roman', Times, serif;
}

.user_nav_lists{
  display: flex;
  float: right;
  margin-top: 25px;
  
}

.post {
  font-size: 20px;
  color: black;
  margin-right: 30px;
  text-decoration: none;
  
}

.post:hover {
  color: gray;
  }

.greeting {
  float: right;
  font-size: 15px;
}

.greeting__link {
color: black;
text-decoration: none;
font-family: 'Times New Roman', Times, serif;
}

.greeting__link:hover{
  color: gray;
}