header {
  height: 80px;
  background-color: #f5f5f5;
  display: flex;
}

.heading {
  width: 50%;
  padding-bottom: 20px;
}

.title{
  font-size: 40px;
  padding-left: 20px;
  
}

.title a {
  color:black;
}

.user-nav{
  width: 50%;
}

.user_nav_lists{
  display: flex;
  float: right;
  margin-top: 25px;
}

.post {
  font-size: 20px;
  background:white;
  color: black;
  border-radius: 60px;
  margin-right: 30px;
}

.greeting {
  float: right;
  font-size: 15px;
}

.greeting__link {
color: black;
}