.contents {
  background-color: white;
}

.first-view{
  height: 80vh; 
}

.top-image {
  height: 100%;
  width: 100%;
}

.contents-top{
  text-align: center;
  margin-top: 80px;
  font-size: 15px;
  font-family: serif;
}

h3 {
  text-align: center;
  margin-top: 80px;
  font-size: 30px;
  font-family: serif;
  display: inline-block;
  position: relative;
  padding: 0 55px;
  margin-left: 38%;

}

h3:before, h3:after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 45px;
  height: 1px;
  background-color: black;
  margin: auto;
}

h3:before {
  left:0;
}
h3:after {
  right: 0;
}

.contents-middle-lists {
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  list-style: none;
}

.middle-image {
  width: 40vh;
  border-radius: 50%;
  margin-left: 40px;
  
}

.middle-list {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  font-size: 20px;
  color:black;
}

.li-style {
  height: 350px;
  width: 100%;
  background-color:white;
  display: flex;
  justify-content: center;
}

.content-blue {
  color:mediumturquoise;
  font-size: 25px;
}

.middle-content{
text-align: center;
}

.content-red {
  color:red;
  font-size: 25px;
}

h5 {
  position: relative;
  color: black;
  font-size: 20px;
  padding: 10px 0;
  text-align: center;
  margin: 1.5em 0;
}

h5:before {
  content: "";
  position: absolute;
  top: -8px;
  left: 50%;
  width: 150px;
  height: 58px;
  border-radius: 50%;
  border: 5px solid black;
  border-left-color: transparent;
  border-right-color: transparent;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.contents-row {
  width: 100%;
  height: 50%;
  text-align: center;
  justify-content:center;
  padding-top: 40px;
} 

.check-contents {
  display:none;
  text-align: center;
}

.check-content {
  margin-bottom: 10px;
  font-size: 20px;
}

.check-btn {
  background-color: #57e9e9;
  border-radius: 20px;
  color: #fff;
  border: 0;
  font-size: 20px;
  text-align: center;
  margin: 20px 0 30px 0px;
  padding: 5px;
}

.check-btn:hover {
background-color:rgba(85, 215, 238, 0.6) ;
}

.check-js {
  border-radius: 60px;
  color:white;
  border: 0;
  font-size: 20px;
  background-color: red;
  margin: 20px 40px 30px 0px;
  text-align: center;
  padding: 5px;
}

.tweet-video {
  width: 400px;
  height: 400px;
}