
.tweet-contents {
  background-color: #f5f5f5;
  font-size: 18px;
  text-align: center;
}

.tweet-main {
  display: inline-block;
  background-color: #FFF;
  padding: 30px 0;
  width: 80%;
  font-family: 'Times New Roman', Times, serif;
}

.tweet-text {
  font-size: 30px;
  margin-bottom: 20px;
  
}

.tweet-image-video {
  color: #ea352d;
}

.category-select{
  padding: 20px;
}

.category-select p{
  font-size: 15px;
  margin: 20px 170px 0 0;
}

.tweet-content-view {
  width: 25%;
  height: 120px;
  margin-top: 20px;
}

.select-box {
  height: 30px;
  width: 200px;
  background-color: #f5f5f5;
  padding-left: 10px;
  margin-bottom: 20px;
}

.tweet-btn {
  background-color: white;
  border-radius: 180px;
  color: black;
  border: 1px solid black;
  font-size: 20px;
  width: 10%;
  margin: 40px;
}

.tweet-btn:hover{
  color: grey;
}

.indispensable {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.sell-btn-contents {
  width: 100%;
  text-align: center;
}
.login-flash-message {
  text-align: center;
}

.login-btn {
  background-color: #57e9e9;
  border-radius: 20px;
  color: #fff;
  border: 0;
  font-size: 18px;
  width: 30%;
  margin: 40px auto;
  text-align: center;
  padding:20px 0;
}

.login-blue-btn {
  background-color: #57e9e9;
  color: #fff;
  border: 0;
  font-size: 18px;
  text-align: center;
}

.preview{
  height: 250px;
  width: 250px;
  object-fit: contain;
}
