.tweet-tweet-comment{
  border: 10px dotted #f5f5f5;
  border-radius: 30px;
  margin: 0 150px;
}

.tweet-mypg {
  font-size: 40px;
  height: 50%;
  text-align: center;
  padding-top: 40px;
  font-weight:bold;
	color: #FFF;
	text-shadow: 0 0 0.2em rgba(0,0,0,1)
}

.comment-text {
  padding-bottom:40px;
  margin: 10px;
  width: 35%;
}

.container{
  text-align: center;
}

.comments{
  line-height: 15px;
  text-align: left;
  width: 40%;
  margin: auto;
  word-break: break-all;
}

.comments h4{
  text-align: center;
}

.comments time{
  font-size: 13px;
  color:grey;
  
}