.tweet-tweet-comment{
  border: 10px dotted #f5f5f5;
  
  margin-bottom: 10px;
  border-radius: 30px;

}

.tweet-mypg {
  font-size: 40px;
  height: 50%;
  text-align: center;
  justify-content:center;
  padding-top: 40px;
}

.content-text {
  padding-bottom:40px;
  margin: 10px;
  width: 45%;
}

.container{
  text-align: center;
  margin: auto;
}