.tweet-tweet-comment{
  border: 10px dotted #f5f5f5;
  border-radius: 30px;
  margin: 0 150px;
}

.tweet-mypg {
  font-size: 40px;
  height: 50%;
  text-align: center;
  padding-top: 40px;
  font-weight:bold;
	color: #FFF;
	text-shadow: 0 0 0.2em rgba(0,0,0,1)
}

.comment-text {
  padding-bottom:40px;
  margin: 10px;
  width: 35%;
}

.container{
  text-align: center;
}

.comments{
  line-height: 15px;
  text-align: left;
  width: 40%;
  margin: auto;
  word-break: break-all;
}

.comments h4{
  text-align: center;
}

.comments time{
  font-size: 13px;
  color:grey; 
}

.click-js{
  width:120px;
  margin: auto;
  border-radius: 20px;
}

.click-iine{
  display: none;
}
.comment-btn {
  border-radius: 10px;
  font-size: 15px;
  border: 2px solid #ccc;
  background: #f1e767;
  background: -webkit-gradient(linear, left top, left bottom, from(#fdfbfb), to(#ebedee));
  background: -webkit-linear-gradient(top, #fdfbfb 0%, #ebedee 100%);
  background: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
  -webkit-box-shadow: inset 1px 1px 1px #fff;
  box-shadow: inset 1px 1px 1px #fff;
}

.comment-btn:hover:before {
  background: -webkit-gradient(linear, left bottom, left top, from(#fdfbfb), to(#ebedee));
  background: -webkit-linear-gradient(bottom, #fdfbfb 0%, #ebedee 100%);
  background: linear-gradient(to top, #fdfbfb 0%, #ebedee 100%);
}